Repository robhanlon22/ambient: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "tslint --fix",
  "*.{json,md,css,scss,yaml,graphql,gql}": "prettier --write"
}

Add canned packages
  package-lock.json
  package.json
  packages/client/README.md
  packages/client/package.json
  packages/client/src/__tests__/client.test.ts
  packages/client/src/client.ts
  packages/client/tsconfig.json
  packages/server/README.md
  packages/server/package.json
  packages/server/src/__tests__/server.test.ts
  packages/server/src/server.ts
  packages/server/tsconfig.json
  packages/shared/README.md
  packages/shared/package.json
  packages/shared/src/__tests__/shared.test.ts
  packages/shared/src/shared.ts
  packages/shared/tsconfig.json
  tsconfig.json
Due: tslint --fix, prettier --write

Set up tests
  .huskyrc.json
  jest.config.js
  package-lock.json
  package.json
Due: tslint --fix, prettier --write

basics
  .gitignore
  .huskyrc.json
  package-lock.json
  package.json
  packages/client/src/Hello.tsx
  packages/client/src/__tests__/tsconfig.json
  packages/client/src/client.ts
  packages/client/src/index.tsx
  packages/client/tsconfig.json
  packages/server/package.json
  packages/server/src/__tests__/tsconfig.json
  packages/server/tsconfig.json
  packages/shared/src/__tests__/tsconfig.json
  packages/shared/tsconfig.json
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.test.base.json
  tsconfig.test.json
  webpack.config.js
Due: tslint --fix, prettier --write

Make a lambda
  package-lock.json
  package.json
  packages/client/package.json
  packages/server/src/index.ts
  packages/server/src/server.ts
  packages/shared/src/index.ts
Due: tslint --fix, prettier --write

fix build command
  package.json
Due: prettier --write

remove --clean flag
  package.json
Due: prettier --write

importHelpers
  package.json
  packages/server/package.json
  tsconfig.base.json
Due: prettier --write

gqlify
  package-lock.json
  package.json
  packages/server/package.json
  packages/server/src/index.ts
Due: tslint --fix, prettier --write

fix export
  packages/server/src/index.ts
Due: tslint --fix

netlify cfg
  .gitignore
  netlify.toml
  package-lock.json
  package.json
  packages/server/package.json
  packages/server/src/functions/server/server.ts
  webpack.config.js
Due: tslint --fix, prettier --write

fix lambda
  package.json
  packages/server/src/index.ts
Due: tslint --fix, prettier --write

fix pkg lock
  package-lock.json
Due: prettier --write

add graphql
  package-lock.json
  package.json
  packages/client/src/ApolloContext.tsx
  packages/client/src/Hello.tsx
  packages/client/src/index.tsx
  tsconfig.base.json
  webpack.config.js
Due: tslint --fix, prettier --write

fixit
  packages/shared/src/index.ts
Due: tslint --fix

commonjs modules on server
  packages/server/tsconfig.json
Due: prettier --write

only esnext in client
  packages/client/tsconfig.json
  packages/server/tsconfig.json
  tsconfig.base.json
Due: prettier --write

Get a little thing goin
  package-lock.json
  package.json
  packages/client/src/Hello.tsx
  packages/client/src/Plink.ts
  packages/client/src/Tune.tsx
  packages/client/src/index.tsx
Due: tslint --fix, prettier --write
